body {
  font-family: "Poppins";
  font-size: 15px;
}


h2 {
  color: rgb(3, 10, 73); 
  font-size: 24px;
}

.banner {
  height: 100px;
  width: 100%;
  background-image: url('../images/WCE_Kopfzeile01.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}


.footer a:hover {
  box-shadow: inset 190px 0 0 0 #164f85d3;
  color: white;
}

.topbar a:hover {
  box-shadow: inset 250px 0 0 0 #164f85d3;
  color: white;
}

.topbar a {
  box-shadow: inset 0 0 0 0 #164f858f;
  color: black;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.container {
  max-width: 1024px;
  min-height: 100%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



.divider {
  width: 100%;
  margin: 8px 32px;
}



.page-navigation .topbar {
  padding: 8px 16px;
  text-align: right;
  background: #ccc;
}

.page-navigation .topbar a {
  margin-right: 16px;
}

.page-navigation .topbar a:last-child {
  margin-right: 0;
}

.page-navigation .main-nav {
  width: 100%;
  display: flex;
  align-items: center;
}

.page-navigation .main-nav .logo {
  margin-right: 16px;
}

.page-navigation .main-nav nav {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  flex-grow: 1;
}

.main {
  flex-grow: 1;
  margin: 32px;
}

.footer {
  /* border-top: 1px solid #000; */
  width: 100%;
  display: flex;
  align-items: center;
  color: black;
}

.footer a {
  box-shadow: inset 0 0 0 0 #164f858f;
  color: black;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.footer .logo {
  margin-right: 16px;
}

.footer nav {
  display: flex;
}

.footer nav a {
  font-size: 14px;
  font-weight: 200;
  margin-right: 16px;
}